.콘텐츠박스 {
  background: #f7f7f7;
  .콘텐츠박스정렬 {
    max-width: 48rem;
    min-height: 100vh;
    border-color: #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    background-color: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
