@mixin hamburger {
  border: none;
  background: transparent;
  text-transform: none;
  overflow: visible;
  margin: 0;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  font-weight: 400;
  box-shadow: none;
  padding: 0.5rem;
  color: #555;
  cursor: pointer;
}

@mixin loginHamburger {
  display: block;
  cursor: pointer;
  color: #555;
  padding: 0.5rem;
  box-shadow: none;
  font-weight: 400;
  text-decoration: none;
}

@mixin smallButton(
  $color: #fff,
  $background-color: #000,
  $border-color: transparent
) {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  margin: 0.25rem;
  padding: 0.4375rem 0.9375rem;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
}

@mixin bigButton($color: #fff, $background-color: #000, $border-color: #000) {
  cursor: pointer;
  margin-bottom: 0.75rem;
  display: block;
  width: 100%;
  padding: 0.6875rem 1.4375rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  font-weight: 400;
  text-align: cetner;
  vertical-align: middle;
  background: none;
  text-ransform: none;
  overflow: visible;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  color: $color;
  background-color: $background-color;
  border: 1px solid $border-color;
}
