@mixin dropboxItem {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #333;
  text-align: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}
